html, body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins;    
}

.header{    
    height: 100%;
    background-color: #fcba03;
    color: black;

}

.container {    
    text-align: center;
    align-content: center;
    margin: auto;
    vertical-align: middle;
}

.profile {
    padding-top: 100px;
}

.name {
    font-weight: bold;
    font-size: 32px;
}

.job-roles {
    font-size: 18px;
}

.profile img{
    border-radius: 50%;
    width: 20%;
    
}

.link i {
    font-size: 22px;
    color: black;
    margin: 8px;
}

/* About */
.about{
    height: 100%;
}

.skills{
    height: 100%;
}

.education{
    height: 100%;
}

.experience{
    height: 100%;
}

/* Skills */
/* Education */
/* Experience */



/* Footer */
.footer{
    padding: 20px 40px 20px 40px;    
    background-color: grey;
}